
 
 @media (max-width:7880px) {
.warehouse .col-md-4, .warehouse .col-md-8 {
	height: 1180px;
}
.warehouse .container {
	padding-left: 0;
}
.storage .col-md-6 {
	height: 500px;
}
}
 @media (max-width:2560px) {
.warehouse .col-md-4, .warehouse .col-md-8 {
	height: 800px;
}
.map_fot img {
	height: 570px;
}
}
 @media (max-width:1920px) {
.map_fot img {
	height: 520px;
}
}
 @media (max-width:1600px) {
.warehouse .col-md-4, .warehouse .col-md-8 {
	height: 655px;
}
.warehouse .col-md-8 img {
	max-width: 690px;
}
.storage .col-md-6 {
	height: 380px;
}
}
 @media (max-width:1440px) {
.warehouse .col-md-8 img {
	max-width: 670px;
}
.map_fot img {
	height: 490px;
}
.ab_site {
	padding: 60px 0 100px;
}
}
 @media (max-width: 1280px) {
.video_con h2 {
	font-size: 52px;
	line-height: 52px;
}
.banner_slider img {
	width: 120%;
	margin-left: -10%;
}
.banner_slider {
	overflow: hidden;
}
}
 @media (max-width: 1200px) {
.fancyTab .fa {
	font-size: 36px;
}
.fancyTab .hidden-xs {
	font-size: 22px;
}
}
 @media (max-width:1179px) {
.container {
	padding: 0 15px !important;
	width: 100% !important;
	max-width: 1024px;
	
}
/*---------------Stiky Footer Css----------------*/
#footer-Primary {
	height: auto;
}
.log_sec .col-md-5 {
	width: 28%;
}
.logo img {
	margin-top: 8px;
}
.hd_top .col-md-12 {
	width: 73%;
}
.hd_bot .col-md-12 {
	width: 79%;
}
.toplist ul li, .toplist ul li a {
	font-size: 14px;
}
.toplist ul li::before {
	font-size: 18px;
	top: 0px;
}
.hd_top .col-md-12 {
	height: 45px;
}
.hd_bot .col-md-12 {
	height: 50px;
}
#nav-primary ul.menu li a {
	padding: 4px 25px;
	font-size: 18px;
}
.logo {
	width: 176px;
}
.logo > span::after {
	height: 96px;
}
.infotx h3 {
	font-size: 45px;
}
.rittext span {
	font-size: 14px;
}
.ab_site .col-md-6:first-child {
	padding-right: 15px;
}
.video_con h2 {
	font-size: 42px;
	line-height: 42px;
	margin-bottom: 10px;
}
.video_con p {
	font-size: 18px;
}
.move_form label {
	font-size: 14px;
}
.banner_slider img {
	width: 130%;
	margin-left: -15%;
}
.warehouse {
	padding: 40px 0 20px;
}

.rfa_process .col-md-3::before {
	font-size: 20px;
}

.rfa_process h3 {
	font-size: 20px;
}

.rfa_process .col-md-3::after {
	font-size: 15px;
}
.itemBox ._body h3 {
    font-size: 11px !important;
}
.top-bar__collapse {
	background: #fff !important;
}
#top-bar__navigation ul a {
	color: #333 !important;
}
.start-screen__content__item.align-items-center {
	background: none !important;
}
div#side-menu .col-md-2 {
    width: 15%;
}


}
















 @media (max-width:1023px) {
.container {
	max-width: 768px;


}
.toplist ul li, .toplist ul li a {
	font-size: 12px;
}
.toplist ul li {
	margin-right: 15px;
}
.log_sec .col-md-5 {
	width: 31%;
}
.logo {
	width: 146px;
}
#nav-primary ul.menu li a {
	padding: 4px 20px;
	font-size: 17px;
}
.logo img {
	margin-top: 11px;
}
.video_con p {
	font-size: 16px;
}
.video_btn a {
	width: 90px;
	margin-right: 15px;
}
.video_con p {
	font-size: 14px;
}
.video_label {
	margin-top: -1px;
}
.info_text .col-md-12 {
	float: left;
	width: 100%;
}
.infotx {
	padding: 15px;
}
.infotx h3 {
	font-size: 30px;
}
.rittext span {
	font-size: 12px;
}
.rittext span {
	margin-top: 0px;
}
.ab_site .col-md-6:last-child img {
	max-width: 100%;
}
.ab_site h2 {
	font-size: 45px;
	line-height: 40px;
}
.ab_site h2::after {
	margin: 10px 0 0 10px;
}
.ab_site p {
	font-size: 16px;
}
.ab_site a.visit {
	font-size: 14px;
}
.warehouse h2 {
	font-size: 45px;
	line-height: 40px;
}
.testimonials h2 {
	font-size: 45px;
	line-height: 40px;
}
.warehouse h2::after {
	margin: 10px 0 0 10px;
}
.warehouse p {
	font-size: 16px;
}
.warehouse .col-md-8 img {
	max-width: 100%;
}
.storage h2 {
	font-size: 45px;
	line-height: 40px;
}
.storage h2::after {
	margin: 20px 0;
}
.storage p {
	font-size: 16px;
}
.storage a.visit {
	font-size: 14px;
}
.address_fot {
	padding-left: 30px;
	padding-top: 64px;
}
.adlist ul li, .adlist ul li a {
	font-size: 14px;
	line-height: 28px;
}
.adlist ul li::before {
	font-size: 17px;
	top: 2px;
}
.con_fot .col-md-8 {
	width: 70%;
}
.fancyTab > a {
	font-size: 18px;
}
.nav > li.fancyTab > a {
	padding: 15px 0;
	margin-bottom: inherit;
}
.fancyTab .fa {
	font-size: 30px;
}
.nav-tabs > li.fancyTab > a {
	border-right: 1px solid transparent;
	padding-bottom: 0;
}
/*  .fancyTab.active .fa {
    color: #333;
	}*/
		
.video_con h2 {
	font-size: 35px;
	line-height: 35px;
}
.mbr_title {
	font-size: 22px;
	margin-bottom: 15px;
}
.banner_slider img {
	width: 170%;
	margin-left: -35%;
}
.move_form {
	margin-top: 20px;
	padding: 20px 15px;
}
#nav-primary ul.menu li a {
	padding: 4px 17px;
	font-size: 15px;
}
.get_quo img {
	max-width: 100% !important;
	height: auto;
}
.toplist {
	margin-left: 20px;
}
.rittext span {
	margin-top: 10px;
}
.appd_img img {
	max-width: 100%;
}
.rfa_down_app h2 {
	font-size: 25px;
}
.downlord_cont_wrapper p {
	font-size: 14px;
}
.rfa_dn_btn li a {
	line-height: 50px;
	font-size: 24px;
	width: 50px;
	height: 50px;
}

.rfa_process .col-md-3::before {
	font-size: 30px;
	width: 100%;
	float: left;
	text-align: center;
}


.rfa_process .col-md-3::after {
	font-size: 20px;
	width: 100%;
	text-align: center;
	float: left;
}
.columns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}


.mail-icon.text-center.ptb img {
	width: 50px;
}
.container.find-con {
	padding-top:30px !important;
	padding-bottom:30px !important;
}
.footer-end.fep img {
	width: 35%;
}
.footer-end.fep p {
	font-size: 12px;
}
.footer-last-end p {
	font-size: 13px;
}
.mb {
    margin-top: 45px !important;
    text-align: center;}
.fosz {
	text-align: center !important;
	margin: 0 auto;
	display: block;
}

.top-bar__collapse {
	background: #fff !important;
}
#top-bar__navigation-toggler {
	color: #333 !important;
}
.top-bar__auth-btns a {
    color: #333 !important;
}
.smoke-bg {
	background: #fff;
	padding-top: 40px !important;
	padding-bottom: 40px;
	padding-bottom: 40px !important;
}
.col-md-4.control-label {
	width: 100% !important;
	font-size: 16px;
}
.do-smoke {
	margin-top: 45px;
}
.container.do-smoke-bg {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.free-label.four.col img {
	width: 50px;
}
.basic-label.four.col img {
	width: 50px;
}
.term-baner-animation h1 {
	font-size: 26px !important;
	/*margin-top: -130px !important;*/
}
.container.healt-pro-bg.ptb.hltmt-40 {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}
.health-profile {
	margin-top: 45px;
}
.term-banner-animat img {
	width: 150px;
}
.slick-slide img {
	display: block !important;
	text-align: center !important;
	margin: 0 auto !important;
}

.bordrl {
	width: 100% !important;
	display: table !important;
}
.wh-100{
	text-align: center !important;
	margin: 0 auto !important;
}

.footer-end .col-sm-2 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 16.66667% !important;
	-ms-flex: 0 0 16.66667% !important;
	flex: 0 0 16.66667% !important;
	max-width: 100% !important;
}
.footer-end .col-sm-1{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 16.66667% !important;
	-ms-flex: 0 0 16.66667% !important;
	flex: 0 0 16.66667% !important;
	max-width: 100% !important;
}
.footer-end.fep p {
	font-size: 14px !important;
}
.footer__item {
	text-align: center !important;
}
.s-btns.s-btns--md.s-btns--dark.s-btns--rounded ul li {
	text-align: center !important;
	margin:0 auto !important;
}
#side-menu .col-md-4 {
    flex: 100%;
    max-width: 100%;
}
/*.side-menu__inner.scroheight.scrolheiht1 {*/
/*    border:none  !important;*/
/*	height:700px !important;*/
/*}*/
/*.side-menu__inner.scroheight.scrolheiht2 {*/
/*    border:none  !important;*/
/*	height:500px !important;*/
/*}*/
.start-screen__content__item.align-items-center {
    background: none !important;
}
#side-menu .col-md-4 {
    border: none !important;
}
.__item.__item--shadow.itemBox i {
	font-size: 26px !important;
}
.start-screen__content__item.align-items-center .col-md-7 {
    max-width: 40.333% !important;
}
.start-screen__content__item.align-items-center .col-md-5 {
    flex: 6 0 51.667%;
    max-width: 58.667% !important;
}
.itemBox{
    /*padding:5px 7px;*/
    width: 90px;
    height: 90px;
    
}
.itemBox ._body h3{
    margin-top:-8px;
}

.start-screen--full-height .start-screen__content__item h2 {
	font-size: 18px !important;
	margin-top: 20px !important;
	line-height: 32px;
}
.side-menu__menu h5 {
	margin-left: 25px !important;
}
.circle{margin-top:0px !important;}
.side-menu__inner.genralast {
	height: 400px !important;
}
.circle p {
    font-size: 10px;
    line-height: 5px;
    color: #234c8a;
    font-family: inherit;
    margin-top: -5px;
}



}







 @media (max-width:767px) {
.container {
	max-width: 736px;
}
/*.background_header , .background_container, #footer-Primary {
	overflow-x:hidden;
}*/ 


.togglebutton button {
	float: left;
}
.togglebutton {
	display: block;
	cursor: pointer;
}
.togglebutton button {
	float: left;
	line-height: 50px;
	padding-left: 15px;
	font-size: 18px;
	width: auto;
	border: 0 none;
}
.togglebutton img {
	float: right;
	width: 40px;
	margin-right: 15px;
}
#nav-primary ul.menu {
	display: none;
	width: 100%;
	float: left;
	background-color: #ccc;
	position: absolute;
	top: 60px;
	z-index: 9;
}
#nav-primary {
	width: 100%;
}
#nav-primary ul.menu li {
	width: 100%;
	background-color: #222;
	border-right: 0 none;
}
#nav-primary ul.menu li a {
	line-height: 40px;
	border-bottom: 1px solid #333;
	padding: 10px 20px;
	font-size: 28px;
}
/*------------setting sub menu------------*/
#nav-primary ul.menu ul {
	position: static;
	width: 100%;
	display: none !important;
}
#nav-primary ul.menu li:hover ul {
	display: block !important;
}
#nav-primary ul.menu ul li a {
	padding-left: 30px;
}
/*------------setting sub menu end------------*/

.toplist ul li:nth-child(1), .toplist ul li:nth-child(3 ) {
	display: none;
}
.toplist {
	float: right;
}
.togglebutton .btn-open::before {
	top: -8px;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
.hd_top .col-md-12 {
	height: 68px;
}
.hd_bot .col-md-12 {
	height: 90px;
}
.toplist ul li, .toplist ul li a {
	font-size: 29px;
}
.toplist ul li::before {
	font-size: 29px;
	top: 2px;
}
.log_sec .col-md-5 {
	width: 60%;
	height: 160px;
}
.logo > span::after {
	height: 160px;
}
.logo {
	width: 276px;
}
.background_header {
	position: relative;
	z-index: 3;
}
.hd_bot .col-md-12 {
	width: 100%;
	padding: 0;
}
.togglebutton .btn-open, .togglebutton .btn-close {
	margin-right: 15px;
}
.fot_bot .col-md-6:first-child p {
	float: left;
}
.banner_slider img {
	width: 240%;
	margin-left: -100%;
}
.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
	height: 60px !important;
}
.fot_logo {
	text-align: center;
}
.get_quo {
	width: 100%;
	text-align: center !important;
}
.contact_form {
	margin-bottom: 20px;
}
.ad_item {
	float: none;
	width: auto;
	margin: 0 auto 20px !important;
	display: table;
}
.ad_item h3 {
	text-align: center;
}
.adlist {
	text-align: center;
}
.rfa_our_teme .col-md-3 {
	margin: 0 auto;
	display: table;
}
a.get_quo {
	margin-bottom: 20px;
}
.appd_wrapper {
	max-width: 500px;
	margin: 0 auto;
	display: table;
	text-align: center;
	padding: 30px;
}
.appd_img {
	margin-bottom: 20px;
}
.rfa_dn_btn li a {
	line-height: 70px;
	font-size: 34px;
	width: 70px;
	height: 70px;
}
.rfa_down_app h2 {
	font-size: 30px;
	margin-bottom: 5px;
}
.downlord_cont_wrapper p {
	font-size: 20px;
}

.inner_banner {
	overflow: hidden;
}

.inner_banner img {
	max-width: inherit;
	width: 160%;
	margin-left: -30%;
}

.breadcrumb {
	margin-bottom: 0;
}

.fot_mid .col-md-3,
.fot_mid .col-md-5,
.fot_mid .col-md-4 {
	float: left;
	width: 100%;
}

.rfa_process .col-md-3::before {
	font-size: 20px;
	width: auto;
	float: none;
	text-align: left;
}

.rfa_process .col-md-3::after {
	font-size: 17px;
	width: auto;
	text-align: initial;
	float: none;
}

.rfa_process .col-md-3 {
	text-align: center;
	margin-bottom: 10px;
}


.rfa_process .col-md-3:last-child{
	margin-bottom: 0;}

.rfa_blog .col-md-9 {
	margin-bottom: 20px;
}

.contact-map {
	margin-bottom: 20px;
}

.button11 {
	margin: 0 auto !important;
	display: block !important;
	margin-bottom: 20px;
}
.banner-box1 span {
	font-size: 14px !important;
}
.banner-box1 p {
	font-size: 12px !important;
}
.fold-more h6 {
    font-size: 12px !important;
}
.fold-more h6 span {
	font-size: 13px;
}
.section.section--bg-img.jarallax .col-md-6 {
	width: ;
	width: 50% !important;
	float: left;
}
.fclr h4 {font-size:30px !important;
}
.footer-end.fep p {
	font-size: 11px;
}
.footer-last-end ul a {
	font-size: 12px !important;

}
.footer-last-end p {
	font-size: 12px !important;

}
.footer-end.container {
	display: none !important;
}
.container {
	max-width: 100% !important;
}
.mail-icon.text-center.ptb {
	 margin-bottom:0px !important; 
	
}
.col.col-sm-5.col-md-3.col-lg-2 {
	display: table;
	float: left;
}
.do-smoke {
	margin-top: 45px !important;
}
.bounceInLeft.animated img {
	width: 150px !important;
}
#top-bar {
	/*background:#30435e !important;*/
	line-height: 45px;
}
#top-bar__navigation {
	color: #fff !important;
}
.top-bar__auth-btns a {
	color: #fff !important;
}
.custom-btn.custom-btn--style-3 {
	background-color: #fff;
	border-color: #003585;
	color: #333 !important;
}

.top-bar__auth-btns a {
    color: #333 !important;
}
.start-screen__content__item.align-items-center {
	padding: 0;
}
.row.align-items-md-center h2 {
    margin-bottom: 30px !important;
}
.footer-last-end p {
    margin-top: 7px;
    text-align:center !important;
}
.footer-last-end ul a{
float:none;
}
.footer-end.fep img {
    margin-bottom: 40px;
}
section.becom-agen .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
section.becom-agen .claim-box1 {
    text-align: center;
    margin: 0 auto;
}
/*.company-contacts.company-contacts--s1 {
    padding-left: 15px;
}
*/
.row.justify-content-xl-between {
    padding-left: 15px;
    text-align: center;
    padding-right:15px;
}



}








 @media (max-width:735px) {
.container {
	max-width: 667px;
}
.banner_slider img {
	width: 260%;
	margin-left: -120%;
}
.infotx h3 {
	font-size: 30px;
	font-weight: 700;
	margin-right: 10px;
	margin-top: 10px;
}
.infotx {
	padding: 15px 10px;
}
.banner-box1 i {
	text-align: center !important;
	display: block !important;
	margin: 0 auto !important;
}

.banner-box1 {
	text-align: center !important;
	display: table !important;
}
.banner-box1 i {
	text-align:center !important;
}
.banner-box1 i {
	 float: none !important; 
}
.footer-end.fep p {
	font-size: 14px !important;
}
.do-smoke-tit h1 {
	font-size: 22px !important;
}
.flight {
    width: 100% !important;
}
div#side-menu .col-md-2 {
    width: 20%;
}
.itemBox {
    width: 80px;
    height: 82px;
}
section.data-security.mt-40.mb-40 img {
    height: auto !important;
}
section.data-security2.mt-40.mb-40 img {
    height: auto !important;
}




}



 @media (max-width:666px) {
.container {
	max-width: 640px;
}
.infotx:nth-child(2) {
	width: 25%;
}
.infotx:nth-child(3) {
	width: 31%;
}
.get_quo img {
	max-width: 50% !important;
}
#nav-alternative li {
	line-height: 30px;
}
.fot_bot p {
	margin-bottom: 0;
}


.fold-more h6 span {
	font-size: 12px !important;
	font-weight:400 !important;
}
.circle p {
	/*font-size: 11px;*/
}
.circle {
	width: 90px;
	height: 90px;
}
.itemBox ._body h3 {
    margin-top: -12px;
}
.screen__content__item h2 {
    margin-left:0px !important;
}
.start-screen--full-height .start-screen__content__item p{
    padding-left:0px !important;
}
.__item.__item--shadow.itemBox.circle.circle1 {
    width: 75px;
    height: 75px;
}
.__item.__item--shadow.itemBox.circle.circle1 {
    line-height: 0;
}
.itemBox ._body h3 {
    margin-top: 5px !important;
}




}


 @media (max-width:639px) {
.container {
	max-width: 568px;
}
.logo {
	width: 206px;
}
.logo > span::after {
	height: 120px;
}
.toplist ul li, .toplist ul li a {
	font-size: 19px;
}
.togglebutton .btn-open::before {
	font-size: 30px;
}
.hd_bot .col-md-12 {
	height: 50px;
}
.toplist ul li::before {
	font-size: 19px;
}
#nav-primary ul.menu {
	top: 40px;
}
.banner_slider img {
	width: 300%;
	margin-left: -140%;
}
.fot_bot .col-md-6:last-child p, .fot_bot .col-md-6:first-child p {
	text-align: center;
	width: 100%;
}
.infotx h3 {
	font-size: 24px;
}

.term-banner-animat img {
	float: left !important;
}
.banner-box1 {
	text-align: center !important;
	 display: block !important; 
}

#aboutfront {
	text-align: center !important;
}
.review__item.review__item--rounded.review__item--shadow.review__item--corner-left {
	text-align: center !important;
}
.bounceInLeft.animated img {
	width: 150px !important;
	margin-top: -100px !important;
}
.bounceInLeft.animated img {
	width: 150px !important;
	margin-top: -100px !important;
	margin-left: 200px !important;
}
.row.term-iso-mt.text-center {
	text-align: center !important;
	/*margin: 0 auto !important;*/
	/*display: block !important;*/
}
.smoke-annual2 {
	float: right !important;
}
.smoke-annual {
	float: left !important;
}
.container.find-con {
	padding-bottom: 62px !important;
}
.smoke-fill {
	margin-left: 0px !important;
}
.select2-container--default .select2-selection--single{
	margin-left: 0px !important;
}
.container.smoke-bg {
	padding-bottom: 60px !important;
}
.do-smoke-tit h1 {
	margin-bottom: 40px !important;
}
.smoke-annual2 {
	margin-top: -28px !important;
}
.list-group-item.text-center {
	width: 35% !important;
}

.resp.col-12.col-sm-6.col-lg-4.col-xl-4 {
	max-width: 33% !important;
	font-size: 10px !important;
}

.col-12.col-md-7.col-lg-7.col.rdn {
    /*display: none;*/
}
#top-bar {
	background: #fff !important;
	line-height: 45px;
}

#top-bar__navigation-toggler {
	color: #333 !important;
}
.side-menu__inner.scroheight.scrolheiht1 .col-md-5 {
    width: 50%;
}
.side-menu__inner.scroheight.scrolheiht2 .col-md-5 {
    width: 50%;
}
.side-menu__inner.scroheight .col-md-5 {
    width: 50%;
}
.start-screen__content__item.align-items-center .col-md-5 {
    flex: 100% !important;
    max-width: 100% !important;
}
#side-menu .col-md-2 {
	width: 20% !important;
}
.home-title-top-men{
    margin-top:70px;
}
.start-screen__content__item.align-items-center .col-md-7 {
    max-width: 100% !important;
    text-align:center;
}
.section.section--bg-img.jarallax{
    padding-top:10px;
}
section.data-security.mt-40.mb-40 {
    text-align: center;
}
section.data-security2.mt-40.mb-40 {
    text-align: center;
}
.section-heading.section-heading--white.section-heading--left.fclr h4, h2 {
    margin-top: 40px;
}
.bike-banner-animat {
     float: inherit; 
    width: 150px !important;
    height: 200px !important;
    bottom: 0px;
     margin-top: inherit; 
}

/*.term-baner-animation h1 {margin-top:-100px;}*/
.top-br h1{margin-top:-130px !important;}
.bounceInLeft.animated img {
    width: 150px !important;
    margin-top: -50px !important;
    margin-left: 200px !important;
}
.side-menu__button-close{margin-top:-50px !important;}
.footer-last-end ul li{float: none;}
.footer-last-end p{float: none;}
.col-md-6.col-sm-6.bulet-bike.top-br.respon-30 {
    margin-top: 50px;
}
.containe.respon-80 img {
    height: 150px;
}
.containe.respon-80 h1 {
    margin-top: -75px !important;
}
.car-banner-animat{float: none !important;
margin-top:0px !important}
.bounceInLeft.respo-50.animated {
    margin-top: 44px;
}
div#traveller-contain a {
    float: right;
    margin-top:-55px;
    margin-left:20px;
}
.col-md-2.col-sm-2.hvrani.animate.animated.slideInRight.brands a {
    margin-top: 30px;
}

.good-30{margin-top:10px !important;}
.goodh1{margin-top: -135px !important;}
.become-tit .col-md-3 {
    width: 25%;
}
.footer__address p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center !important;
    margin-top: 10px !important;
}






}

            





 @media (max-width:567px) {
.container {
	max-width: 480px;
}
.claim-box1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.logo {
	width: 186px;
}
.banner_slider img {
	width: 360%;
	margin-left: -190%;
}
.bnr_slider_con {
	position: static;
	width: 100%;
	top: 0;
	transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	z-index: 2;
}
.info_text {
	top: 0;
	margin-bottom: 0;
}
.banner_slider img {
	width: 100%;
	margin-left: 0;
}
.inner_banner h1 {
	font-size: 50px;
}
.infotx h3 {
	font-size: 24px;
	width: 100%;
	text-align: center;
}
.rittext {
	width: 100%;
}
.rittext span {
	margin: 10px auto !important;
	display: table;
	float: none;
	text-align: center;
}
#nav-primary ul.menu li a {
	line-height: 30px;
	font-size: 22px;
}
.inner_banner h1 {
	font-size: 35px;
}

.columns {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
}
.bounceInLeft.animated img {
	margin-left: 160px !important;
}

.container.find-con h3 {
	font-size: 22px !important;
}
.smoke-annual2 {
	 margin-top: 0px !important; 
}

.bounceInLeft.animated img {
	margin-left: 170px !important;
}
.invest-banner-animat {
	 float: none !important; 
	 height:0px !important; 
}
.car-banner-animat {
	float: left !important;
	 margin-top:-10px !important; 
}
.car-banner-animat {
	float: right;
	width: 150px !important;
	bottom: 0px;
	/*margin-top: 238px;*/
}
.car-banner-animat {
	float: right;
	width: 150px !important;
	bottom: 0px;
}

.car-banner-animat {
	
	width: 150px !important;
	height: 0px !important;
	bottom: 0px;
	/*margin-top: -108px !important;*/
}
.col-md-6.col-sm-6.text-center.car-sor {
	margin-top: -150px !important;
}
.section-heading.section-heading--white.section-heading--left.fclr h4 {
	font-size: 21px !important;
}
.bike-banner-animat {
	float: left !important;
	width: 150px !important;
	height: 30px !important;
	bottom: 0px;
	margin-top: 20px !important;
}
.col-md-6.col-sm-6.text-center.bulet-bike {
	margin-top: -160px !important;
}
.col-md-6.col-sm-6.text-center.trave-arow {
	margin-top: -160px !important;
}
#side-menu .col-md-2 {
	width: 20% !important;
	margin: 5px;
}
.side-menu__inner.genralast {
	height: 500px !important;
}
.paralex-tit{font-size:36px;}
.fclr h2{font-size:20px;}
.section-heading.section-heading--white.section-heading--left.fclr h4{
    font-size:16px;
}
.start-screen__content__item.align-items-center {
    background: #1A2C39  !important;
    padding-top: 0px !important;
}
.start-screen__content__item.align-items-center .col-md-5 {
    padding-bottom: 30px !important;;
}

.circle p {
    font-size:10px;
    margin-top: -8px;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns=…8 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E );
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right:8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.term-baner-animation h1 {
	font-size: 22px !important;
	/*margin-top:100px;*/
}
.respons-50{margin-top:100px;}

}





 @media (max-width:479px) {
.container {
	max-width: 414px;
}
.logo {
	width: 156px;
}
.logo > span::after {
	height: 90px;
}
.toplist ul li, .toplist ul li a {
	font-size: 15px;
}
.hd_top .col-md-12 {
	height: 48px;
}
.togglebutton .btn-open::before {
	font-size: 20px;
}
.btn-open {
	background-size: 30px auto !important;
}
.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
	height: 40px !important;
}
.fancyTab .fa {
	font-size: 20px;
}
.infotx {
	width: 100% !important;
	border-bottom: 1px solid #444;
}
.infotx::after {
	width: 0;
	height: 0;
}
.infotx h3 {
	font-size: 34px;
}
.rittext span {
	font-size: 18px;
}
.get_quo img {
	max-width: 60% !important;
}
span.kul {
	 margin-left:0px !important; 
}
.bounceInLeft.animated img {
	margin-left: 100px !important;
}
.do-smoke.ptb h1 {
	font-size: 20px !important;
	letter-spacing: 1px !important;
}
.mbh-30 {
	margin-bottom: 30px !important;
}

.fosz{
	margin-bottom: 0px !important;
	font-weight: 0px !important;
}
.mb{
	margin-bottom:0px !important;
}
.smoke-inp.text-center {
	font-size: 15px !important;
}
.col-md-3.col-sm-3.bhoechie-tab-menu a {
	font-size: 14px !important;
}

.bounceInLeft.animated img {
	margin-left:145px !important;
	margin-top: -60px !important;
	/*opacity: 0.5 ;*/
}
.container.find-con .col-md-2 {
	width: 50%;
}
.row.term-iso-mt .col-md-6 {
	width: 50% !important;
}
.container.do-smoke-bg a {width: 100% !important;
}
.container.smoke-bg a {
	color: #fff !important;
	text-decoration: none;
	width: 100% !important;
}

.container.find-con a {
	width: 100% !important;
}
.smoke-annual{width:100% !important;}
.smoke-annual2 {
	width: 100% !important;
}
.health-pro-a a {
width: 100% !important;
}
.life-date-bg {
    padding-bottom: 40px !important;
}
.invest-long-bg {
padding-bottom: 40px !important;
}
.invest-bg {
padding-bottom: 30px !important;
}
.row.monthly {
	padding-bottom: 20px;
}
.row.term-iso-mt.text-center {
	padding-top: 20px;
}
.life-name-bg {
    padding-bottom: 40px !important;
}
.col-md-3.col-sm-3.br-all {
	border: none;
}
.row.with-50 .col-md-6 {
	width: 50%;
}

.health-sec ul li {
    font-size: 11px !important;
}
.side-menu__inner.scroheight .col-md-5 {
    width: 50% !important;
}
.side-menu__inner .col-md-5 {
    width: 50% !important;
}
/*.side-menu__inner.scroheight.scrolheiht1 {*/
/*    height: 600px !important;*/
/*}*/
/*.side-menu__inner.scroheight.scrolheiht2 {*/
/*    height:400px !important;*/
/*}*/
#side-menu .col-md-4 {
	border: none !important;
}
#side-menu .col-md-2 {
	width: 25% !important;
	margin: 10px;
}
.side-menu__inner.genralast {
	height: 600px !important;
}
.btn.btn-default.btn-lg.btn-dfault-amt.become-sign-btn{widows:60%;}






}





 @media (max-width:768px) {
 	.start-screen--full-height .start-screen__content__item {
	min-height: 800px!important;
	   
}
.start-screen--full-height .start-screen__content__item h2 {
    font-size: 25px;
    /*margin-left: 52px;*/
}
.start-screen--full-height .start-screen__content__item p {
padding-left: 0px;
}
.d-sm-table {
    margin-left:0px;
}
.bg-gredint{
display: none !important;
}


 
 }
 @media (max-width:1024px) {
 		.start-screen--full-height .start-screen__content__item {
	min-height: 700px!important;
	   
}
.start-screen--full-height .start-screen__content__item h2 {
    font-size: 25px;
    /*margin-left: 70px;*/
}
.start-screen--full-height .start-screen__content__item p {
padding-left:0px;
}
.d-sm-table {
    margin-left: 0px;
}
.side-menu__menu h5 {
    margin-left: 40px !important;
}
.side-menu {
overflow-x: auto !important;
overflow-y: auto !important;
}
section.bg-gredint {
    display: none !important;
}
.col-12.col-md-7.col-lg-7.col.rdn.txtclr h2 span {
    color: #fff !important;
}

.col-12.col-md-7.col-lg-7.col.rdn.txtclr p {
    /*color: #333 !important;*/
}
/*header#top-bar {*/
/*    background: none !important;*/
/*}*/
.start-screen__content-container {
	padding-top: 0px;
}
.itemBox ._body h3{
    margin-top:0;
}
.start-screen__content__item.align-items-center {
    background: #1A2C39 !important;
    padding-top: 0px !important;
}

.circle{width:85px;height:85px;}
body{padding-left:0 !important;padding-right:0 !important;}






 }
 
 
 @media (max-width:414px) {
 	.start-screen--full-height .start-screen__content__item {
	min-height: 500px !important;
	    /*background: none !important;*/
}

.botom-bord{display:none;}
.footer__address p{text-align: center!important;}


 }
 
 
 
 
@media (max-width:509px) {
 	.start-screen--full-height .start-screen__content__item {
	min-height: 500px !important;
	    /*background: none !important;*/
}
 }
 
 
 
 @media (max-width:413px) {
.container {
	max-width: 375px;
}
.logo {
	width: 146px;
}
.inner_banner img {
	max-width: inherit;
	width: 180%;
	margin-left: -50%;
}
.pagination2 li a {
	width: 28px;
	height: 28px;
	line-height: 28px;
}
.pagination2 .pa_pre, .pagination2 .pa_nex {
	line-height: 18px;
}
.section.section--bg-img.jarallax .col-md-6 {
	width: 100% !important;
	float: left !important;
}
.section.section--bg-img.jarallax {
	text-align: center !important;
}
.section-heading.section-heading--white.section-heading--left.fclr h4,h2 {
	text-align: center !important;
}
/*.bounceInLeft.animated img {
	margin-left: 80px !important;
}*/
.term-fin-tip.ptb {
	margin-bottom: -80px !important;
}

.term-smoke.ptb h1 {
	font-size: 16px !important;
}
.topft {
	font-size: 14px !important;
}
.free-label.four.col img {
	width: 100px !important;
}
.basic-label.four.col img {
	width: 100px !important;
}
.do-smoke.ptb h1 {
	font-size: 16px !important;
}
.do-smoke.ptb p {
	font-size: 15px !important;
}
.col-md-4.control-label {
	width: 100% !important;
	font-size: 12px !important;
}
.term-baner-animation h1 {
	font-size: 22px !important;
	/*margin-top:100px;*/
}
.start-screen--full-height .start-screen__content__item {
	min-height: 500px !important;
	    /*background: none !important;*/
	        padding-top: 10px !important;
}
.col-12.col-md-10.col-lg-7.col-xl-7.animated.slideInDown {
	display: none;
}
.modal-dialog {
	top: 0px !important;
}
.col-md-2.col-sm-2.bdr {
	width: 50%;
}
.itemBox ._body h3 {
	font-size: 10px !important;
}
.top-bar__logo.site-logo img {
    height: 47px;
       width: 240px;
}
.col-md-4.smoke-n.col-sm-4.bdr {
	width: 50%;
}
.col-md-4.smoke-y.col-sm-4.bdr {
	width: 50%;
}
.free-label.smoke-y.four.col img {
	width: 50px !important;
}
.basic-label.smoke-no.four.col img {
	width: 50px !important;
}
.health-detail-bg h2 {
	font-size:24px;
}
.container.health-detail-bg {
	padding-bottom: 50px !important;
}
.wth-25 {
	width: 33% !important;
	font-size: 11px;
}
.inputGroup label {
    padding: 13px 10px !important;}
.amount-fill-btn {
	margin-top: 6px;
	text-align: center;
	background: #db2523;
	color: #fff !important;
	padding: 5px 5px;
	width:30%;
	display: block;
	margin: 0 auto;
	margin-top: 30px !important;
}
.br-none.input-amt {
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	display: block;
}
.row.monthly .col-md-4 {
	width: 33%;
}
.row.yearly-amount .col-md-4 {
	width: 33%;
}
#span-txt {
	font-size: 14px;
}
.bounceInLeft.animated img {
    margin-left: 108px !important;
    margin-top: -60px !important;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns=…8 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E );
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.btn.btn-default.btn-lg.btn-dfault-amt.become-sign-btn{
	font-size:10px;
}
.become-tit h6 {
    font-size: 8px;
}
.claim-box1 a i {
    font-size: 16px !important;
    margin-top: 14px !important;
}
.become-tit .claim-box1 {
    width:60px;
    height:60px;
}
.becom-agen{margin-top:65px;}


}



 @media (max-width:374px) {
.container {
	max-width: 360px;
}
.logo {
	width: 118px;
}
.logo > span::after {
	height: 70px;
}
.logo > span::after {
	margin: 0 0 0 -9999px;
	padding: 0 0 0 9999px;
}
.toplist ul li, .toplist ul li a {
	font-size: 13px;
}
.toplist ul li::before {
	font-size: 15px;
}
.rfa_inner_title h2 {
	font-size: 29px;
}
.rfa_inner_title h3 {
	font-size: 16px;
	line-height: 24px;
}
.foldet-rgt img {
	height: auto !important;
}
.mb{font-size: 18px !important;}
.smoke-fill {
	font-size: 12px !important;
}

#select2-mySelect2-container {
	font-size: 12px !important;
}
.smoke-birth {
	font-size: 12px !important;
}
.view-btn a {
	background: #db3f3c;
	padding: 9px 30px !important;
	font-size: 14px !important;
}
.smoke-fill1 {
	font-size: 12px !important;
}
.itemBox ._body h3 {
	font-size: 10px !important;
}

.resp.col-sm-3.col-lg-3.col-xl-3.col-xs-3.col-3.pt-3.animate.animated {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.js-example-data-ajax{
	font-size: 12px !important;
}
.itemBox {
    width: 70px;
    height: 70px;
}
.__item.__item--shadow.itemBox i {
    font-size: 20px !important;
}
/*.itemBox{line-height:50px !important;}*/

.itemBox ._body h3 {
    margin-top: -4px;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns=…8 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E );
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
section.invest-amount .col-md-6 {
    border-top: none !important;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
      animation-play-state: paused;

}
body[data-aos-delay='100'] [data-aos].aos-animate {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
    animation: unable;
}

[data-aos][data-aos][data-aos-delay='100'].aos-animate, body[data-aos-delay='100'] [data-aos].aos-animate {
    -webkit-transition-delay: .1s !important;
    -o-transition-delay: .1s !important;
    transition-delay: .1s !important;
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s !important;
}
[data-aos][data-aos][data-aos-delay='100'].aos-animate, body[data-aos-delay='100'] [data-aos].aos-animate {
    transition-delay: .1s !important;
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s !important;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1 !important;
    -webkit-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1 !important;
    transform: translateZ(0) !important;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1 !important;
    transform: translate(0) !important;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1 !important;
    transform: translateZ(0) !important;
}


}







 @media (max-width:359px) {
.container {
	max-width: 320px;
}
.mb {
	font-size: 14px !important;
}
.fosz {
	color: #fff !important;
	font-size: 16px !important;
	letter-spacing: 2px !important;
	line-height: 30px !important;
}
.bounceInLeft.animated img {
	margin-left: 87px !important;
}

.form-control-lg {
	font-size: 10px !important;
	height: 30px !important;
}
.btn.btn-lg.btn-success {
	margin-top: 0;
	background: #db3f3c;
	font-size: 11px !important;
	border-color: #db3f3c !important;
	color: #fff !important;
}
.smoke-annual2 {
	font-size: 13px !important;
}
.smoke-annual {
	font-size: 13px !important;
}
.form-control-lg {
	font-size: 10px !important;
	height:30px !important;
}
.custom-btn--medium {
	min-width: 141px !important;
	min-height: 39px !important;
	padding-top: 16px !important;
}
.resp.col-12.col-sm-6.col-lg-4.col-xl-4 {
	max-width: 33% !important;
	font-size: 10px !important;
}

.counter--s1 .__item {
	padding: 15px !important;
	background-color: #fff;
}
.bounceInLeft.animated img {
	margin-left: 87px !important;
	margin-top: -15px !important;
}
#frontpageicon .col-12.col-sm-6.col-lg-4.col-xl-4 {
	margin: 0px;
	padding: 5px;
	right: 0px;
	left: 0px;
}
/*.itemBox {*/
/*	border: 1px solid red;*/
/*	border-right: 7px solid #234c8a;*/
/*	padding: 4px;*/
/*	border-radius:100%;*/
/*	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16);*/
/*	will-change: transform;*/
/*	transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);*/
/*	width:60px;*/
/*	height:60px;*/
/*}*/
._header i {
	font-size: 33px !important;
}
.itemBox ._body h3 {
	padding-bottom: 4px !important;
}
.rdn{
	display: none;
}
.itemBox ._body h3 {
	font-size: 10px !important;
}
#side-menu .col-md-2 {
	width:40% !important;
	margin: 10px;
}
.side-menu__inner.genralast {
	height: 750px !important;
}
input#mobile {
    padding: 0 20px !important;
    /*height: 12px !important;*/
}
.start-screen__content-container.home-title-top-men .col-12.col-md-7.col-lg-7.col.rdn {
    display: block !important;
}
.itemBox ._body h3 {
    margin-top: -7px;
}
.__item.__item--shadow.itemBox.circle.circle1 {
    width: 85px;
    height: 85px;
}
.inputGroup label:after {
    width: 22px;
    height: 22px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns=…8 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E );
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

div#traveller-contain a {padding-left:20px !important;}




}



 @media (min-width:768px) {
#nav-primary ul.menu {
	display: block !important;
}
.start-screen__content-container {
	padding-top: 0px;
}


}
