@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoone968.eot?c6xh1a');
  src:  url('fonts/icomoone968.eot?c6xh1a#iefix') format('embedded-opentype'),
    url('fonts/icomoone968.ttf?c6xh1a') format('truetype'),
    url('fonts/icomoone968.woff?c6xh1a') format('woff'),
    url('fonts/icomoone968.svg?c6xh1a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-m-"], [class*=" icon-m-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-m-analytics:before {
  content: "\e916";
}
.icon-m-distribution:before {
  content: "\e917";
}
.icon-m-faq:before {
  content: "\e918";
}
.icon-m-fax-alt:before {
  content: "\e919";
}
.icon-m-marker-alt:before {
  content: "\e91a";
}
.icon-m-outreach:before {
  content: "\e91b";
}
.icon-m-payments:before {
  content: "\e91c";
}
.icon-m-support:before {
  content: "\e91d";
}
.icon-m-phone-alt:before {
  content: "\e91e";
}
.icon-m-earth:before {
  content: "\e915";
}
.icon-m-calendar-alt:before {
  content: "\e90f";
}
.icon-m-comment-alt:before {
  content: "\e910";
}
.icon-m-comment:before {
  content: "\e911";
}
.icon-m-list-alt:before {
  content: "\e912";
}
.icon-m-user:before {
  content: "\e913";
}
.icon-m-e-mail:before {
  content: "\e90b";
}
.icon-m-fax:before {
  content: "\e90c";
}
.icon-m-phone:before {
  content: "\e90d";
}
.icon-m-play:before {
  content: "\e900";
}
.icon-m-business:before {
  content: "\e902";
}
.icon-m-health:before {
  content: "\e903";
}
.icon-m-humanities:before {
  content: "\e904";
}
.icon-m-language:before {
  content: "\e905";
}
.icon-m-lifestyle:before {
  content: "\e906";
}
.icon-m-math:before {
  content: "\e908";
}
.icon-m-people:before {
  content: "\e914";
}
.icon-m-science:before {
  content: "\e909";
}
.icon-m-study:before {
  content: "\e901";
}
.icon-m-technology:before {
  content: "\e90a";
}
.icon-m-marketing:before {
  content: "\e907";
}
.icon-m-location:before {
  content: "\e90e";
}
